set_io clk_cnt 112
set_io clk_sr  113
set_io d       114
set_io latch   115
set_io out[0]  116
set_io out[1]  117
set_io out[2]  118
set_io out[3]  119
set_io out[4]   62
set_io out[5]   61
set_io out[6]   60
set_io out[7]   56
set_io out[8]   48
set_io out[9]   47
set_io out[10]  45
set_io out[11]  44
set_io leds[0]  99
set_io leds[1]  98
set_io leds[2]  97
set_io leds[3]  96
