set_io  out[0]   1
set_io  out[1]   2
set_io  out[2]   3
set_io  out[3]   4
set_io  out[4]   7
set_io  out[5]   8
set_io  out[6]   9
set_io  out[7]  10
set_io  out[8]  11
set_io  out[9]  12
set_io out[10]  19
set_io out[11]  20
set_io out[12]  21
set_io out[13]  22
set_io out[14]  23
set_io out[15]  24
set_io out[16]  25
set_io out[17]  26
set_io out[18]  28
set_io out[19]  29
set_io out[20]  31
set_io out[21]  32
set_io out[22]  33
set_io out[23]  34
set_io out[24]  37
set_io out[25]  38
set_io out[26]  39
set_io out[27]  41
set_io out[28]  42
set_io out[29]  43
set_io out[30]  44
set_io out[31]  45
set_io out[32]  47
set_io out[33]  48
set_io out[34]  49
set_io out[35]  50
set_io out[36]  52
set_io out[37]  56
set_io out[38]  58
set_io out[39]  60
set_io out[40]  61
set_io out[41]  62
set_io out[42]  63
set_io out[43]  64
set_io out[44]  67
set_io out[45]  68
set_io out[46]  70
set_io out[47]  71
set_io out[48]  73
set_io out[49]  74
set_io out[50]  75
set_io out[51]  76
set_io out[52]  78
set_io out[53]  79
set_io out[54]  80
set_io out[55]  81
set_io out[56]  87
set_io out[57]  88
set_io out[58]  90
set_io out[59]  91
set_io out[60]  93
set_io out[61]  94
set_io out[62]  95
set_io out[63]  96
set_io out[64]  97
set_io out[65]  98
set_io out[66]  99
set_io out[67] 101
set_io out[68] 102
set_io out[69] 104
set_io out[70] 105
set_io out[71] 106
set_io out[72] 107
set_io out[73] 112
set_io out[74] 113
set_io out[75] 114
set_io out[76] 115
set_io out[77] 116
set_io out[78] 117
set_io out[79] 118
set_io out[80] 119
set_io out[81] 120
set_io out[82] 121
set_io out[83] 122
set_io out[84] 128
set_io out[85] 129
set_io out[86] 134
set_io out[87] 135
set_io out[88] 136
set_io clk_cnt 137
set_io clk_sr  138
set_io d       139
set_io latch   141
